 @import url(//fonts.googleapis.com/css?family=Ubuntu);
.jimu-main-font{
  font-family: 'Ubuntu';
}
.jimu-widget-layerList .layers-section .layer-list-title {
  font-family: "Ubuntu"; 
}
.jimu-widget-layerList {
  font-family: "Ubuntu";
}
.jimu-widget-select .light-label, .jimu-widget-select .selectable-layer-item .layer-row .layer-name, .jimu-widget-select .selectable-layer-item .layer-row .selected-num {
    font-family: "Ubuntu";
}
